.bg-image-1{
    background-image: url(../images/banner.png);
}
.bg-image-2{
    background-image: url(../images/Rectangle\ 5.png);
}
.bg-image-3{
    background-image: url(../images/Rectangle\ 7.png);
}